:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{lang: "en"}
  = render ('app/partials/head.haml')
  %body{ "data-spy" => "scroll","data-target" => "#navbarNav" }
    = render ('app/partials/navbar.haml')

    = render ('app/partials/index/_slider-home.haml')

    = render ('app/partials/index/_partnerts.haml')

    = render ('app/partials/index/_products.haml')
    
    = render ('app/partials/index/_function.haml')
    
    = render ('app/partials/index/_our-ofert.haml')

    = render ('app/partials/index/_best.haml')

    = render ('app/partials/index/_about.haml') 

    = render ('app/partials/index/_footer.haml')
