:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{lang: "en"}
  = render ('app/partials/head.haml')
  %body
    = render ('app/partials/navbar-materials.haml')

    = render ('app/partials/materials/_slider-materials.haml')

    = render ('app/partials/index/_partnerts.haml')

    = render ('app/partials/materials/_products.haml')
    
    = render ('app/partials/materials/_function.haml')
    
    = render ('app/partials/materials/_our-bidding.haml')

    = render ('app/partials/materials/_best.haml')

    = render ('app/partials/index/_team.haml') 
  
    = render ('app/partials/index/_footer.haml')
