:ruby
  def render(partial)
    Haml::Engine.new(File.read(partial)).render
  end
!!!
%html{lang: "en"}
  %head
    = render ('app/partials/head.haml')
  %body
    = render ('app/partials/navbar.haml')
    = render ('app/partials/mejor/_slider-mejor.haml')
    %section.categories
      .container-fluid
        .content-title
          %h1.title-section Nuestras Categorías
        .content-categories
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/1.webp"}/
              %p.name-category Construcción de cero
            .category
              .icon
                %img{:src => "assets/img/categories/7.webp"}/
              %p.name-category Piscinas
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/2.webp"}/
              %p.name-category Ampliación
            .category
              .icon
                %img{:src => "assets/img/categories/8.webp"}/
              %p.name-category Quinchos y cobertizos
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/3.webp"}/
              %p.name-category Pintura
            .category
              .icon
                %img{:src => "assets/img/categories/9.webp"}/
              %p.name-category Gasfitería
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/4.webp"}/
              %p.name-category Arquitectos
            .category
              .icon
                %img{:src => "assets/img/categories/10.webp"}/
              %p.name-category Electricidad
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/5.webp"}/
              %p.name-category Piso y radier
            .category
              .icon
                %img{:src => "assets/img/categories/11.webp"}/
              %p.name-category Baño y cocina
          .category-column
            .category
              .icon
                %img{:src => "assets/img/categories/6.webp"}/
              %p.name-category Fletes 
            .category
              .icon
                %img{:src => "assets/img/categories/2.webp"}/
              %p.name-category Otros
    = render ('app/partials/materials/_best.haml')
    
   
    %section.section-padding 
      .container-fluid
        .content-title
          %h1.title-section Encuentra al profesinal de tu zona
          -# %p De tu zona mas cercana
        .slider-professional
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "assets/img/people/1.jpg"}/
            .card-content-professional
              %h3
                %strong Alejandro Gutierrez
              %p Constructor
              %p VIII Región concepción
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "assets/img/people/2.jpg"}/
            .card-content-professional
              %h3
                %strong Genaro Castillo
              %p Constructor
              %p Rm Santiago
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "assets/img/people/3.jpg"}/
            .card-content-professional
              %h3
                %strong Juan Baschmann
              %p Constructor
              %p V Región Valparaíso
          .card-inf-professional
            %img.img-fluid.rounded{:alt => "image", :src => "assets/img/people/4.jpg"}/
            .card-content-professional
              %h3
                %strong Raúl Valdés
              %p Constructor
              %p IV Región Coquimbo
    = render ('app/partials/materials/_function.haml')
    = render ('app/partials/index/_team.haml') 
    = render ('app/partials/index/_footer.haml')
  
